<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Criação da minha API-Produtos para Smartphones!" />

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="stylesheet" href="/assets/css/header-footer.css">
	<link rel="stylesheet" href="/assets/css/media-query.css">
	
		
	<script src="/js/formulario.js" defer></script>

	
	<link rel="icon" href="https://developers.giphy.com/branch/master/static/api-512d36c09662682717108a38bbb5c57d.gif" type="image/x-icon">

    <title>Bem-vindo à API de Produtos!</title>
</head>
<body>
    <h1>🌟 Bem-vindo à API de Produtos para Smartphones!</h1>
    <h2>👉 Para acessar a documentação no Postman <br>clique aqui: 
        <a href="<%= process.env.POSTMAN_DOC_LINK %>" target="_blank">
            <span>Documentação da API</span>
        </a>
    </h2>  
    <p>💡 Esta documentação foi dividida entre:</p>
    <ul>
        <li>🌐 <strong>API Local:</strong> Utiliza um arquivo local JSON como banco de dados.</li>
        <li>🚀 <strong>Deploy no Vercel:</strong> Utiliza MongoDB como banco de dados.</li>
    </ul>

    	<!-- Início da seção de rodapé -->
	<footer class="footer-contact">
		<div>	
				<!-- Início do conteúdo do rodapé -->
				<footer class="footer__content">
					<!-- Texto informativo do rodapé -->
					<div class="footer__text">
						<!-- Título de contato -->
						<h2 class="footer__contact--info">MEU <span> CONTATO</span></h2>
						<p class="footer__description">Adoraria receber seu feedback sobre a minha API-Produtos! Por favor, preencha o formulário abaixo e você será redirecionado para o WhatsApp</p>

						<!-- Link para a parte superior da página -->
						<a class="top__page__footer" href="/">
							<h2>Top-Page<i class="fa-solid fa-house"></i></h2>
						</a>
						<!-- Link de retorno para a página inicial -->
						<a href="/">

							<!-- Imagem Saudação  -->
						<img class="salut__footer" src="assets/images/saudacao.gif" alt="salut">

						</a>
					</div>

				<section id="contact">
                <form id="contactForm" autocomplete="off">
                  
                    <input class="form__contact" type="text" id="name" placeholder="NAME" name="name" required>
              
                    <input class="form__contact" type="email" id="email" placeholder="EMAIL" name="email" required>
                    
                    <input class="form__contact" id="message" placeholder="MESSAGE" name="message" required>

                    <button class="footer__submit--button" type="submit" data_form_button title="Click to send message"  >SEND MESSAGE</button>
                </form>
            </section>

			<div>
				<!-- Linha divisória -->
				<hr class="block__divider--three">
			</div>

			<!-- Início do perfil social -->
			<div class="social-profile">
				<!-- Nome do perfil -->
				<div>
					<h2 class="profile-name__title">RafaRz<span class="profile-name__subtitle">76Dev</span></h2>
				</div>

				<!-- TAGS ANCORA-->
				<!-- Links para redes sociais -->
				 <div>
					<nav class="icons">
					<a class="git-profile" href="https://github.com/RaizerTechDev/Code-in-Action-Developer-Portfolio" target="_blank"
						title="GitHub"><i class="fa-brands fa-github fa-lg"></i></a>

					<a class="linkedln-profile" href="https://www.linkedin.com/in/rafael-raizer" target="_blank"
						title="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
					<a class="mail-profile" href="mailto:rafael.dev.raizer@gmail.com" target="_blank" rel="external"
						title="E-mail">
						<i class="fa-solid fa-envelope fa-lg"></i>
					</a>
					<a class="whatssap-profile " href="https://api.whatsapp.com/send/?phone=47999327137" target="_blank"
						rel="external" title="Whatsapp">
						<i class="fa-brands fa-whatsapp fa-lg"></i>
					</a>
				</nav> 	
			</div>				
			</div>
	</footer>

</body>
</html>
