body {
    background-image: url('../assets/images/api-fundo.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif; /* Define a família de fontes */
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 100px; /* Ajuste para centralizar melhor em telas pequenas */
    margin-left: 50px; /* Centraliza o título */
    color: #fefeff;
    font-size: 45px; /* Tamanho menor para telas pequenas */
    font-weight: bold;
    font-style: italic;  
}

h2 {
    margin-top: -40px;
    margin-left: 0; /* Centraliza o subtítulo */
    font-size: 30px; 
}

p {
    font-size: 28px; /* Tamanho do texto para o parágrafo */
    color: #fefeff;
    margin-top: 20px; /* Espaciamento superior */
    font-weight: bold;
}

ul {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0; /* Remove o preenchimento padrão */
    font-size: 26px; /* Tamanho do texto da lista */
    color: #fefeff;
    margin-top: 20px; /* Espaçamento superior */
}

li {
    margin: 10px 0; /* Espaçamento entre os itens da lista */
    font-weight: bold;
}


/* Media Query para telas grandes (tablet e desktop) */
@media (min-width: 769px) {
    h1 {
        margin-top: 400px; 
        margin-left: 70px; 
        font-size: 55px;
        color: #7db3f6;
    }

    h2 {        
        font-size: 38px;
        margin-left: -60px; 
        margin-top: 60px; 
    }

    p { 
        margin-top: 120px;    
        font-size: 38px;     
    }

    ul, li { 
        font-size: 28px;
        margin-top: 20px;
    }
}

/* Media Query para telas maiores (desktop) */
@media (min-width: 1024px ) {
    h1 {
        margin-top: 340px; 
        margin-left: 25px; 
        color: #7db3f6;
       font-size: 55px;
       font-weight: bold;
       font-style: italic;        
    }

    h2 {        
        margin-top: 60px;
        margin-right: -50px;
       font-size: 38px; 
    }

  p {
    font-size: 38px;
  }

  ul, li {       
       font-size: 33px; 
    }
}

span {
    color: rgb(253, 207, 120);
}

/* Media Query para telas maiores (desktop) */
@media (min-width: 1920px)  {
    h1 {
        margin-top: 300px; 
        margin-left: 270px; 
        color: #7db3f6;
       font-size: 48px;
       font-weight: bold;
       font-style: italic;        
    }

    h2 {        
        margin-top: 30px;
        margin-right: -250px;
       font-size: 35px; 
    }

    ul, li {
        margin-top: 10px;
        font-size: 25px; 
    }
}

span {
    color: rgb(253, 207, 120);
}
